h1{
    color: rgb(0, 100, 95);
    font-family: 'Arial', Arial, monospace;
    text-align: center;
}
h2 {
    font-family: 'Arial', Arial, monospace;
    text-align: left;}

h3 {font-family: 'Arial', Arial, monospace;
    }
p{
    font-family: 'Arial', Arial, monospace;
    font-size: 15px;
    text-align: center;
}

